In [214]:
# standard imports
import pandas as pd
import numpy as np

# suppress scientific notation
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [152]:
# main dataframe
df = pd.read_csv('public_plan_data_mod.csv',encoding='cp1252')

# state code info dataframe
state_codes = pd.read_csv('FIPS_State_Codes.csv')

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3403 entries, 0 to 3402
Data columns (total 58 columns):
ppd_id                             3403 non-null int64
PlanName                           3403 non-null object
fy                                 3402 non-null float64
system_id                          3402 non-null float64
FiscalYearType                     3403 non-null int64
PlanInceptionYear                  3331 non-null float64
PlanClosed                         3403 non-null int64
PlanYearClosed                     249 non-null float64
AdministeringGovt                  3403 non-null int64
StateAbbrev                        3403 non-null object
StateName                          3403 non-null object
GovtName                           3403 non-null object
PlanType                           3403 non-null int64
EmployerType                       3403 non-null int64
CostSharing                        2250 non-null float64
EEGroupID                          3403 non-null int64
TierID                             3402 non-null float64
fye                                3357 non-null object
InflationAssumption_GASB           3014 non-null float64
InvestmentReturnAssumption_GASB    3256 non-null float64
AssetValMethCode_GASB              3161 non-null float64
AssetSmoothingPeriod_GASB          2914 non-null float64
FundingMethCode1_GASB              2983 non-null float64
FundingMethCode2_GASB              2842 non-null float64
UAALAmortPeriod_GASB               2832 non-null float64
BlendedDiscountRate                782 non-null float64
MktAssets_Smooth                   1081 non-null float64
ActAssets_Smooth                   1062 non-null float64
NetFlows_smooth                    1045 non-null float64
PayrollGrowthAssumption            1637 non-null float64
WageInflation                      1736 non-null float64
ActAssets_GASB                     3321 non-null float64
ActLiabilities_GASB                3311 non-null float64
ActFundedRatio_GASB                3311 non-null float64
UAAL_GASB                          3311 non-null float64
ActLiabilities_other               3390 non-null float64
payroll                            3335 non-null float64
RequiredContribution               3252 non-null float64
PercentReqContPaid                 3214 non-null float64
TotalPensionLiability              878 non-null float64
NetPosition                        878 non-null float64
NetPensionLiability                878 non-null float64
ActAssets_est                      3390 non-null float64
ActLiabilities_est                 3390 non-null float64
ActFundedRatio_est                 3390 non-null float64
ActFundedRatio_GASB67              877 non-null float64
InvestmentReturn_1yr               3289 non-null float64
InvestmentReturn_3yr               2552 non-null float64
InvestmentReturn_5yr               3043 non-null float64
InvestmentReturn_10yr              2229 non-null float64
GeoReturn_est                      2627 non-null float64
GeoGrowth_est                      2622 non-null float64
AvgReturn_3yr                      2905 non-null float64
AvgReturn_5yr                      2525 non-null float64
AvgReturn_10yr                     1581 non-null float64
contrib_tot                        3267 non-null float64
FairValueChange_investments        3243 non-null float64
income_InterestAndDividends        2998 non-null float64
dtypes: float64(46), int64(7), object(5)
memory usage: 1.5+ MB

In [155]:
# eliminate all non-state governments
state_df = df[df['AdministeringGovt'] == 0]

In [156]:
# shrink feature set to more manageable level
state_df_mod = state_df[['ppd_id', 'PlanName', 'fy',  
       'StateAbbrev', 'GovtName','InflationAssumption_GASB', 'InvestmentReturnAssumption_GASB',
       'ActAssets_GASB', 'ActLiabilities_GASB', 'ActFundedRatio_GASB', 'ActFundedRatio_GASB67', 'ActFundedRatio_est',
       'ActLiabilities_other', 'payroll', 'RequiredContribution',
       'PercentReqContPaid', 'ActFundedRatio_GASB67', 'InvestmentReturn_1yr',
       'InvestmentReturn_3yr', 'InvestmentReturn_5yr', 'InvestmentReturn_10yr',
       'GeoReturn_est']].copy().reset_index(drop=True)

state_df_mod['fy'] = state_df_mod['fy'].astype('int16')

In [157]:
state_df_mod.head()

,ppd_id,PlanName,fy,StateAbbrev,GovtName,InflationAssumption_GASB,InvestmentReturnAssumption_GASB,ActAssets_GASB,ActLiabilities_GASB,ActFundedRatio_GASB,...,ActLiabilities_other,payroll,RequiredContribution,PercentReqContPaid,ActFundedRatio_GASB67,InvestmentReturn_1yr,InvestmentReturn_3yr,InvestmentReturn_5yr,InvestmentReturn_10yr,GeoReturn_est
0,1,Alabama ERS,2001,AL,Alabama,0.04500,0.08000,8028471.00000,8010123.00000,1.00200,...,0.00000,2408543.00000,122483.00000,1.00000,nan,-0.06360,0.05020,0.08070,nan,-0.06360
1,1,Alabama ERS,2002,AL,Alabama,0.04500,0.08000,8100846.00000,8493469.00000,0.95400,...,0.00000,2547775.00000,123887.00000,1.00000,nan,-0.09290,-0.02320,0.02880,nan,-0.07837
2,1,Alabama ERS,2003,AL,Alabama,0.04500,0.08000,8312500.00000,9124279.00000,0.91100,...,0.00000,2677025.00000,154218.00000,1.00000,nan,0.16480,-0.00350,0.04120,0.07550,-0.00355
3,1,Alabama ERS,2004,AL,Alabama,0.04500,0.08000,8563945.00000,9546478.00000,0.89700,...,0.00000,2702393.00000,170713.00000,1.00000,nan,0.10060,0.05410,0.03770,0.08510,0.02153
4,1,Alabama ERS,2005,AL,Alabama,0.04500,0.08000,8935358.00000,10634976.00000,0.84000,...,0.00000,2982122.00000,195846.00000,1.00000,nan,0.10980,0.12740,0.04010,0.07780,0.03860

In [158]:
state_df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2056 entries, 0 to 2055
Data columns (total 22 columns):
ppd_id                             2056 non-null int64
PlanName                           2056 non-null object
fy                                 2056 non-null int16
StateAbbrev                        2056 non-null object
GovtName                           2056 non-null object
InflationAssumption_GASB           1897 non-null float64
InvestmentReturnAssumption_GASB    2004 non-null float64
ActAssets_GASB                     2031 non-null float64
ActLiabilities_GASB                2031 non-null float64
ActFundedRatio_GASB                2031 non-null float64
ActFundedRatio_GASB67              528 non-null float64
ActFundedRatio_est                 2048 non-null float64
ActLiabilities_other               2048 non-null float64
payroll                            2031 non-null float64
RequiredContribution               2019 non-null float64
PercentReqContPaid                 2019 non-null float64
ActFundedRatio_GASB67              528 non-null float64
InvestmentReturn_1yr               2038 non-null float64
InvestmentReturn_3yr               1886 non-null float64
InvestmentReturn_5yr               1975 non-null float64
InvestmentReturn_10yr              1497 non-null float64
GeoReturn_est                      1935 non-null float64
dtypes: float64(17), int16(1), int64(1), object(3)
memory usage: 341.4+ KB

In [159]:
state_df_mod.isnull().sum()

ppd_id                                0
PlanName                              0
fy                                    0
StateAbbrev                           0
GovtName                              0
InflationAssumption_GASB            159
InvestmentReturnAssumption_GASB      52
ActAssets_GASB                       25
ActLiabilities_GASB                  25
ActFundedRatio_GASB                  25
ActFundedRatio_GASB67              1528
ActFundedRatio_est                    8
ActLiabilities_other                  8
payroll                              25
RequiredContribution                 37
PercentReqContPaid                   37
ActFundedRatio_GASB67              1528
InvestmentReturn_1yr                 18
InvestmentReturn_3yr                170
InvestmentReturn_5yr                 81
InvestmentReturn_10yr               559
GeoReturn_est                       121
dtype: int64

# 2017 State Dataframe

In [160]:
# combined_2018_state_df = state_df_mod[state_df_mod['fy'] == 2018].reset_index(drop=True)
combined_2017_state_df = state_df_mod[state_df_mod['fy'] == 2017].reset_index(drop=True)

In [161]:
# combined_2018_state_df['ActFundedRatio_GASB'].fillna(combined_2018_state_df['ActFundedRatio_est'])

In [162]:
combined_2017_state_df[combined_2017_state_df['ActFundedRatio_GASB'].isnull()]

Empty DataFrame
Columns: [ppd_id, PlanName, fy, StateAbbrev, GovtName, InflationAssumption_GASB, InvestmentReturnAssumption_GASB, ActAssets_GASB, ActLiabilities_GASB, ActFundedRatio_GASB, ActFundedRatio_GASB67, ActFundedRatio_est, ActLiabilities_other, payroll, RequiredContribution, PercentReqContPaid, ActFundedRatio_GASB67, InvestmentReturn_1yr, InvestmentReturn_3yr, InvestmentReturn_5yr, InvestmentReturn_10yr, GeoReturn_est]
Index: []

[0 rows x 22 columns]

In [163]:
combined_2017_state_df.head()

,ppd_id,PlanName,fy,StateAbbrev,GovtName,InflationAssumption_GASB,InvestmentReturnAssumption_GASB,ActAssets_GASB,ActLiabilities_GASB,ActFundedRatio_GASB,...,ActLiabilities_other,payroll,RequiredContribution,PercentReqContPaid,ActFundedRatio_GASB67,InvestmentReturn_1yr,InvestmentReturn_3yr,InvestmentReturn_5yr,InvestmentReturn_10yr,GeoReturn_est
0,1,Alabama ERS,2017,AL,Alabama,0.02750,0.07750,11690952.00000,17250835.00000,0.67800,...,0.00000,3584700.00000,426369.00000,1.00000,0.69707,0.12860,0.07920,0.10040,0.04880,0.00000
1,2,Alabama Teachers,2017,AL,Alabama,0.02750,0.07750,23887077.00000,34688078.00000,0.68900,...,0.00000,6698835.00000,782702.00000,1.00000,0.71495,0.11770,0.07630,0.09950,0.05040,0.00000
2,3,Alaska PERS,2017,AK,Alaska,0.03120,0.08000,9229703.00000,13832130.00000,0.66700,...,0.00000,1247884.00000,368766.00000,0.98372,0.63370,0.13350,0.05270,0.09240,0.04987,0.05577
3,4,Alaska Teachers,2017,AK,Alaska,0.03120,0.08000,5476835.00000,7217525.00000,0.75900,...,0.00000,449629.00000,133417.00000,1.14928,0.72385,0.13360,0.05280,0.09270,0.05011,0.00000
4,5,Arizona Public Safety,2017,AZ,Arizona,0.02500,0.07150,7062650.00000,15578700.12000,0.45300,...,0.00000,1500335.00000,651877.01500,1.00000,0.43915,0.11850,0.05270,0.07950,0.03980,0.03401

In [164]:
combined_2017_state_df.loc[combined_2017_state_df['StateAbbrev'] == 'AL', ['ActAssets_GASB', 'ActLiabilities_GASB']].sum()

ActAssets_GASB        35578029.00000
ActLiabilities_GASB   51938913.00000
dtype: float64

In [166]:
# dictionary for groupyby aggregation
feature_dict = {'ActAssets_GASB': ['sum'], 'ActLiabilities_GASB': ['sum'], 'InvestmentReturn_5yr': ['mean'], 
     'InvestmentReturn_10yr': ['mean'], 'InvestmentReturnAssumption_GASB': ['mean']}

In [171]:
# state code key, state name value
state_dict = dict(zip(state_codes['State Code'], state_codes['State']))

# state code key, state fips code value
state_fips = dict(zip(state_codes['State Code'], state_codes['FIPS']))

In [172]:
state_codes.head()

                  State State Code  FIPS
0  District of Columbia         DC    11
1            New Jersey         NJ    34
2          Rhode Island         RI    44
3         Massachusetts         MA    25
4           Connecticut         CT     9

In [233]:
# modifications to dataframe
state_2017_df = combined_2017_state_df.groupby(['StateAbbrev']).agg(feature_dict)
state_2017_df.columns = state_2017_df.columns.droplevel(1)
state_2017_df = state_2017_df.reset_index()
state_2017_df['State'] = state_2017_df['StateAbbrev'].map(state_dict)
state_2017_df['State_FIPS_Code'] = state_2017_df['StateAbbrev'].map(state_fips)

state_2017_df['ActAssets_GASB'] = np.round(state_2017_df['ActAssets_GASB'],0).astype('int64')
state_2017_df['ActLiabilities_GASB'] = np.round(state_2017_df['ActLiabilities_GASB'],0).astype('int64')
state_2017_df['ActFundedRatio_GASB'] = state_2017_df['ActAssets_GASB'] / state_2017_df['ActLiabilities_GASB']
state_2017_df['PctFunded'] = state_2017_df['ActFundedRatio_GASB'] * 100
state_2017_df['PctFunded'] = state_2017_df['PctFunded'].round(2)


state_2017_df['5yr_Return_Pct'] = np.round(state_2017_df['InvestmentReturn_5yr'] * 100,2)
state_2017_df['10yr_Return_Pct'] = np.round(state_2017_df['InvestmentReturn_10yr'] * 100,2)
state_2017_df['Return_Assumption_Pct'] = np.round(state_2017_df['InvestmentReturnAssumption_GASB'] * 100,2)

state_2017_df = state_2017_df[['StateAbbrev', 'State', 'State_FIPS_Code', 'ActAssets_GASB', 'ActLiabilities_GASB',
       'ActFundedRatio_GASB', 'PctFunded', 'InvestmentReturn_5yr', 'InvestmentReturn_10yr',
       'InvestmentReturnAssumption_GASB', '5yr_Return_Pct', '10yr_Return_Pct', 'Return_Assumption_Pct']]

# create new metrics
state_2017_df['5_yr_return_gap'] = state_2017_df['5yr_Return_Pct'] - state_2017_df['Return_Assumption_Pct']
state_2017_df['10_yr_return_gap'] = state_2017_df['10yr_Return_Pct'] - state_2017_df['Return_Assumption_Pct']



# state_2017_df =
# state_2017_df =

In [234]:
state_2017_df.head(10)

,StateAbbrev,State,State_FIPS_Code,ActAssets_GASB,ActLiabilities_GASB,ActFundedRatio_GASB,PctFunded,InvestmentReturn_5yr,InvestmentReturn_10yr,InvestmentReturnAssumption_GASB,5yr_Return_Pct,10yr_Return_Pct,Return_Assumption_Pct,5_yr_return_gap,10_yr_return_gap
0,AK,Alaska,2,14706538,21049655,0.6987,69.8700,0.0925,0.0500,0.0800,9.2500,5.0000,8.0000,1.2500,-3.0000
1,AL,Alabama,1,35578029,51938913,0.6850,68.5000,0.1000,0.0496,0.0775,10.0000,4.9600,7.7500,2.2500,-2.7900
2,AR,Arkansas,5,24288000,30808443,0.7884,78.8400,0.1023,0.0573,0.0732,10.2300,5.7300,7.3200,2.9100,-1.5900
3,AZ,Arizona,4,45665217,71392080,0.6396,63.9600,0.0850,0.0452,0.0735,8.5000,4.5200,7.3500,1.1500,-2.8300
4,CA,California,6,567755530,824961272,0.6882,68.8200,0.0928,0.0478,0.0742,9.2800,4.7800,7.4200,1.8600,-2.6400
5,CO,Colorado,8,42045868,69874232,0.6017,60.1700,0.0950,0.0600,0.0725,9.5000,6.0000,7.2500,2.2500,-1.2500
6,CT,Connecticut,9,32494339,66536270,0.4884,48.8400,0.0849,0.0486,0.0772,8.4900,4.8600,7.7200,0.7700,-2.8600
7,DE,Delaware,10,8688641,10044583,0.8650,86.5000,0.0830,0.0610,0.0700,8.3000,6.1000,7.0000,1.3000,-0.9000
8,FL,Florida,12,150593242,178579116,0.8433,84.3300,0.0951,0.0546,0.0750,9.5100,5.4600,7.5000,2.0100,-2.0400
9,GA,Georgia,13,84300845,113495929,0.7428,74.2800,0.0945,0.0615,0.0745,9.4500,6.1500,7.4500,2.0000,-1.3000

In [235]:
# export to csv
state_2017_df.to_csv('states_pension_data_2017.csv')